body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#messages {
  list-style: none;
}

#content {
  width: 800px;
  margin: auto;
}

.screen-height {
  height: 100vh;
}

#game-area {
  position: relative;
  background-color: black;
  width: 800px;
  height: 800px;
  margin: auto 0;
}

.snake-chunk {
  position: absolute;
  background-color: yellow;
  width: 80px;
  height: 80px;
}

.food {
  position: absolute;
  background-color: green;
  width: 30px;
  height: 30px;
}

.overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(255, 192, 203, 0.74);
  font-size: 2rem;
}
